@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --brown: #7d5237;
    --lightpink: #fdd9d9;
    --pink: #ff8282;
}

body {
    margin: 0;
    padding: 0;
    color: var(--brown);
    font-family: Poppins, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

nav {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

.nav-links {
    display: flex;
}

.burger-menu {
    display: inline-block;
    width: 1.6rem;
    z-index: 3;
}

.burger-menu span {
    display: block;
    height: .2rem;
    background: white;
    margin-bottom: .3rem;
    transition: 0.6s;
}

.hero-image {
    width: 100%;
    height: 11.25rem;
    background: url('./assets/strawberry-pattern.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    text-align: center;
    padding: 1rem;
    background: var(--lightpink);
}

.slider-wrapper {
    width: 15rem;
    margin: 1.6rem auto;
}

.slider-box {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.slider {
    width: 400%;
    height: 100%;
}

.slide {
    flex: 1;
    height: 100%;
}

.slider-dots {
    padding: .6rem;
}

.slider-dots span {
    display: inline-block;
    border-radius: 2rem;
    width: .6rem;
    height: .6rem;
    border: solid .1rem gray;
    margin: 0 .2rem;
}

.slider-dots .active {
    background: gray;
}

/* slide img */
.slide:nth-child(1) {
    background: url('./assets/fruit1.jpg') no-repeat center;
    background-size: cover;
}

.slide:nth-child(2) {
    background: url('./assets/fruit2.jpg') no-repeat center;
    background-size: cover;
}

.slide:nth-child(3) {
    background: url('./assets/fruit3.jpg') no-repeat center;
    background-size: cover;
}

.slide:nth-child(4) {
    background: url('./assets/fruit1.jpg') no-repeat center;
    background-size: cover;
}

.order-steps .number {
    position: relative;
    display: inline-block;
    background: var(--lightpink);
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 2rem;
}

.order-steps .number span {
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: 800;
    font-size: 2rem;
}

.cta {
    background: var(--lightpink);
}

.btn {
    display: inline-block;
    color: white;
    font-weight: 400;
    background: var(--pink);
    padding: .6rem 1rem;
    border-radius: 3.125rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-alt {
    background: var(--brown);
}

.logo {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.hide-mobile {
    display: none;
}

.hero-content h1 {
    line-height: 2rem;
}

h1, h2, h3 {
    margin-bottom: .2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    margin-top: 0;
    font-size: 1.4rem;
}

footer {
    text-align: center;
    padding: 2rem;
    color: white;
    background: var(--brown);
}

.burger-menu-close span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 2px);
}

.burger-menu-close span:nth-child(2) {
    display: none;
}

.burger-menu-close span:nth-child(3) {
    transform: rotate(45deg) translate(-4px, 0px);
}

@media only screen and (max-width: 47.9rem) {
    .nav-links {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--lightpink);
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-links a {
        padding: .6rem;
        color: var(--brown);
        font-weight: 600;
        text-align: center;
    }
}

@media only screen and (min-width: 48rem) {
    .order-steps {
        display: flex;
    }
    .order-steps .step:not(:last-child){
        padding-right: 2rem;
    }

    .burger-menu {
        display: none;
    }

    .nav-links {
        display: flex !important;
    }

    .nav-links a {
        color: white;
        font-weight: 600;
    }
    
    .nav-links a:not(:last-child) {
        display: inline-block;
        margin-right: 1.4rem;
    }

    .hero-content .heading {
        font-size: 4rem;
        line-height: 4.6rem;
    }

}

@media only screen and (min-width: 64rem) {
    header,
    .about .container,
    .cta .container {
        display: flex;
    }

    .hero-image {
        height: 47.56rem;
        background-image: url('./assets/strawberry-pattern-desktop.jpg');
        flex: 1;
    }

    .hero-content {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
    }

    .hero-content .content {
        text-align: left;
        margin-left: 1.6rem;
        width: 70%;
    }

    .hero-content::before {
        content: '';
        position: absolute;
        width: 6rem;
        height: 18rem;
        background: var(--brown);
        right: 0;
        bottom: 0;
    }

    .hero-content::after {
        content: '';
        position: absolute;
        width: 16rem;
        height: 14rem;
        right: 0;
        bottom: 0;
        background: url('./assets/hero.svg') no-repeat right;
        background-size: contain;
    }

    .about .container > * {
        flex: 1;
    }

    .cta .container {
        justify-content: space-between;
    }

    .cta .cta-left {
        width: 50%;
    }

    .cta .cta-right {
        display: flex;
        align-items: center;
    }

    .heading {
        position: relative;
        z-index: 1;
    }

    .heading::before {
        content: '';
        position: absolute;
        top: -.6rem;
        left: -.6rem;
        width: 2rem;
        height: 2rem;
        background: url('./assets/Transparency.svg') no-repeat center;
        background-size: cover;
        z-index: -1;
    }
}